PROJECT_ROOT_DIR="C:/Users/Stan/Node/MEC-map"
RELEASE_TEST_TARGET_DIR="C:/Users/Stan/Documents/Warcraft III/Maps/Maps/Ts/MecTest"
DEPLOY_TARGET_FILE="C:/Users/Stan/Documents/Warcraft III/Maps/Maps/Ts/Mec.w3x"

# Put the following to "true" only if you have prettier automatically triggered on saving
DISABLE_PRETTIER_STAGED_FILES="false"