/.idea

node_modules

/bin/core.j
/bin/commandsList.html
/bin/mec_data.txt
/bin/*.lua
/bin/*.txt
/bin/*.json
/bin/*.md
/bin/mec_data.json.js

/maps/map-worldeditor.w3x

/dist
project.log
.env

/tsconfig.json